* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  width: 100vw;
  height: 100vh;
  padding: 1.6em;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  overscroll-behavior: none;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-overlay.active .modal {
  opacity: 1;
  transform: translateY(0);
}

.modal .header-text {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  width: -webkit-fill-available;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  transition: .3s ease;
}

.close-btn:hover svg {
  opacity: 1;
}

.modal .rules-modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-title {
  width: 100%;
  display: flex;
  justify-content: center;
} 

.header-content {
  border: .1rem solid #fff;
  max-width: 760px;
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-img,
.score-wrapper
 {
  display: block;
  width: 100%;
  height: auto;
  max-width: 130px;
}

.score-wrapper {
  background-color: #fff;
  font-size: 1.6rem;
  color: hsl(229, 64%, 46%);
  border-radius: 8px;
  min-height: 115px;
  min-width: 115px;
}

.score-wrapper span {
  width: 100%;
  display: block;
  text-align: center;
}

#score {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  color: hsl(229, 25%, 31%);
}

.main-content {
  width: 100%;
  height: 100%;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pentagon-wrapper {
  position: relative;
}

.choices {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -6px 1px #0000002e;
  cursor: pointer;
  opacity: .8;
  transition: .2s ease;
  position: absolute;
}

.choices:hover:not(.chosen-card) {
  opacity: 1;
}

.choices .logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0px 6px 1px #0000002e;
}

.scissors-color {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.paper-color {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.rock-color {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.lizard-color {
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
}

.spock-color {
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}

.choices.scissors {
  top: -10%;
  right: 50%;
  transform: translateX(50%);
}

.choices.paper {
  top: 20%;
  right: -10%;
}

.choices.rock {
  bottom: -10%;
  left: 0;
}

.choices.lizard {
  bottom: -10%;
  right: 0%;
}

.choices.spock {
  top: 20%;
  left: -10%;
}

.rules-btn{
  color: #fff;
  border: .1rem solid #fff;
  border-radius: 8px;
  background-color: transparent;
  padding: .5rem 2rem;
  cursor: pointer;
  opacity: .8;
  transition: .2s ease;
  float: right;
  width: 100px;
  margin-left: auto;
}

.rules-btn:hover {
  opacity: 1;
}

.chosen-cards {
  display: flex;
  align-items: center;
  gap: 76px;
}

.card-place {
  background-color: hsl(237, 49%, 15%, .5);
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.chosen-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.chosen-card {
  opacity: 1;
  width: 175px;
  height: 175px;
}

.chosen-card .logo {
  width: 140px;
  height: 140px;
}

.win-state-wrapper {
  display: none;
}

.win-state-wrapper.active {
  display: block;
}

.win-lose-text {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.play-again-text-btn {
  text-align: center;
  background: #fff;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 290px;
  margin: auto;
}

.small-close-btn {
  justify-content: center;
  padding-top: 4rem;
  scale: 1.5;
}

.hide-sm {
  display: block;
}
.show-sm, 
.show-ssm {
  display: none;
}

/* Small screens: max-width 662px */
@media (max-width: 662px) {
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: block;
  }
}

@media (max-width: 576px) {
  .header-content {
    padding: 1rem 1.6rem;
  }

  .score-wrapper {
    min-height: 100%;
    font-size: 1.3rem;
  }

  #score {
    font-size: 2.6rem;
    padding: .8rem;
  }

  .logo-img {
    width: 88px;
    height: 88px;
  }

  .chosen-cards {
    gap: 40px;
    padding: 3rem 0
  }
}

@media (max-width: 476px) {
  .content-wrapper {
    scale: .7;
  }

  .score-wrapper {
    max-width: 0;
  }

  .modal {
    height: 100%;
    width: 100%;
  }

  .modal .rules-modal-img {
    width: 100%;
    height: fit-content;
  }

  .header-text span {
    width: 100%;
    text-align: center;
    padding: 3rem;
    font-size: 2.6rem;
  }

  .hide-ssm {
    display: none;
  }

  .show-ssm {
    display: flex;
  }
}


@keyframes modalSlide {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}